.App {
  text-align: center;
  height: 100%;
}
head{
    height: 100%;
}
html{
    height: 100%;
}
#root{
    height: 100%;
}
.fas {
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.item-center {
    text-align: center;
}

.item-left {
    text-align: left;
}

.grey-color {
    color: grey;
}

.red-color {
    color: red;
}

.nav-bar {
    background-color: #fc7d01;
    height: 60px;
    display: flex;
}

.heading {
    color: #fff;
    padding-left: 10px;
    font-weight: 600;
}
